body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    background-color: white;
    width: 100%;
    margin: 0;
    position: relative;
}

header {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(36, 23, 7);
    color: white;
    align-items: baseline;
}

header p {
    font-size: 10px;
}

h1 {
   
    font-weight: 900;
}

#partlogo {
    line-height: 2px;
}

#logo {
    margin: 0;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 40px;
    letter-spacing: 1px;
    font-style: italic;
    text-shadow: 0px 0px greenyellow;
}

.carousel-container {
    margin-top: 130px;
}

nav {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: gainsboro;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-family: cursive;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: green;
    color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.barenav:hover {
    background-color: rgb(22, 13, 1);
    border: 2px dashed black;
}

.barenav {
    padding: 30px;

}

#zina {
    background-image: url(vara.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 610px;
}

h3 {
    color: white;
    text-align: center;
}

span {
    font-family: cursive;
}

.numb {
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.tsawer {
    padding: 55px;
    background-color: rgb(36, 23, 7);
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: absolute;
}

.slide {
    width: 160px;
    height: 160px;
    border: 7px solid white;
    transition: transform 0.3s ease, border 0.3s ease;
}

.slide:hover {
    transform: scale(1.2);
}

.flechet {
    background-color: rgb(15, 224, 15);
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 2px groove transparent;
    border-radius: 5%;
    color: white;
    margin-top: 130px;
}

.button {
    display: flex;
    gap: 1038px;
    margin-left: 90px;
    position: absolute;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 4% 10%;
    text-align: center;
    box-shadow: 0 0 6px gray;
    padding: 20px;
    border: 2px solid transparent;
}
#logor{
    width: 70%;
    padding: 10px;
    background-color: rgb(221, 217, 214);
    box-shadow: 0 0 6px gray;
}
.texte{
    background-color: rgb(221, 217, 214);
    line-height: 30px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    box-shadow: 0 0 6px gray;
    padding: 20px;
    border: 2px solid transparent;
}


.img-avantage {
    width: 50px;
}

#avantage {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(36, 23, 7);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.avantage {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 10%;
}

article p {
    text-align: center;
    background-color: rgb(221, 217, 214);
    padding: 10px;
    margin-left: 60px;
    box-shadow: 0 0 10px rgba(75, 61, 44, 0.586);
    border-radius: 4px;
    transition: transform 0.3s ease, border 0.3s ease;
    width: 40%;
}
article p:hover {
    transform: scale(1.1);
}

.social{
    display: block;
}

.social-media-icon {
    width: 40px;
    height: auto;
    text-align: right;
}

footer {
    margin-top: 50px;
    background-color: rgb(36, 23, 7);
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    line-height: 1.5;
    
}
.footerr{
    text-align: justify;
}

.paiement {
    display: flex;
    gap: 16px;
    justify-content: center;
}

#petit-titre {
    font-family: cursive;
    font-weight: bold;
}

.carte {
    width: 50px;
    height: 40px;
}
.social-media{
    display: flex;
    align-items: baseline;
    gap: 15px;
   margin-left: 36px;
}

.bas {
    display: flex;
    gap: 30px;
    align-items: baseline;
    justify-content: space-around;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
